# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# VS Code
.vscode/

# Data directories
data/

# Jupyter Notebook
.ipynb_checkpoints


/src/rarekg/paper_filter

src/rarekg/curated/working1.ipynb
src/rarekg/curated/db_construction.py

notebooks/medgemma_setup


vllm

golden/para_0.json
golden/para_1.json
golden/para_2.json
golden/para_3.json
golden/para_4.json
golden/para_5.json
golden/para_6.json
golden/para_7.json
golden/para_8.json
golden/para_9.json
golden/para_10.json
golden/para_11.json
golden/para_12.json
golden/para_13.json
golden/para_14.json    
